PROJECT-1/data/dst-3.0_16_1_hh_database.csv
PROJECT-1/Project_1.ipynb
EDA-1 Введение в разведывательный анализа данных. Алкгоритмы и методы EDA/data/wine.csv
EDA-2. Математическая статистика в контексте EDA/data/wine_cleared.csv
EDA-3. Проектирование признаков/data/wine_cleared.csv
EDA-PROJECT-3 + Kaggle/data/hotels.csv
EDA-PROJECT-3 + Kaggle/data/Hotel_Reviews.csv
EDA-PROJECT-3 + Kaggle/data/cities500.txt
EDA-PROJECT-3 + Kaggle/corrwith.csv
EDA-2/data/wine_cleared.csv
EDA-3/data/wine_cleared.csv
PROJECT-3/data/hotels.csv
gfest/gordeevtable-ce9689dae7dc.json
gfest/фестиваль-авторской-песни-им-алексан-weforms-entries-1701780626.csv
PDF/
PDF/pdf.ipynb